[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DisHet"]
	path = DisHet
	url = https://github.com/cran/DisHet
[submodule "MANCIE"]
	path = MANCIE
	url = https://github.com/cran/MANCIE
